<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title else "Student Risk App" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Models</h2>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('math_risk') }}">Student Math Risk</a></li>
            <li><a href="{{ url_for('por_risk') }}">Student POR Risk</a></li>
            <li><a href="{{ url_for('feedback') }}">Feedback Analysis</a></li>
        </ul>

        <hr style="margin: 20px 0; border-color: #ffffff;">

        <div style="font-size: 13px; color: #ffffff; line-height: 1.6; margin-top: 210px;">
            <strong>Note:</strong><br>
            <strong>⚖️ Ethics in AI:</strong><br>
            - All student data is anonymized.<br>
            - We avoid bias (e.g., gender, background).<br>
            - Models support decisions, not replace them.
        </div>
    </div>

    <!-- Main content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
